# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
alabaster
googledrivedownloader
json5
jsonschema
numpy
python-telegram-bot
https://download.pytorch.org/whl/cpu/torch-1.8.1%2Bcpu-cp39-cp39-linux_x86_64.whl
