# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
alabaster
apscheduler
asn1crypto
astroid
astropy
astunparse
atari-py
atomicwrites
attrs
babel
backcall
backports
backports.functools_lru_cache
backports.os
backports.shutil_get_terminal_size
backports.tempfile
backports.weakref
beautifulsoup4
bitarray
bkcharts
blas
bleach
blosc
bokeh
boto
boto3
botocore
bottleneck
bzip2
ca-certificates
certifi
cffi
chardet
click
cloudpickle
clyent
colorama
comtypes
contextlib2
cryptography
curl
cycler
cython
cytoolz
dask
dask-core
dawg-python
decorator
defusedxml
distributed
docopt
docutils
entrypoints
et_xmlfile
fastcache
ffmpeg
filelock
flask
freetype
fsspec
future
gevent
glob2
google-pasta
googledrivedownloader
greenlet
grpcio
h5py
hdf5
heapdict
html5lib
hypothesis
icu
idna
imageio
imagesize
importlib_metadata
intel-openmp
ipykernel
ipython
ipython_genutils
ipywidgets
isort
itsdangerous
jdcal
jedi
jinja2
jmespath
joblib
jpeg
json5
jsonschema
keyring
kiwisolver
krb5
lazy-object-proxy
libarchive
libcurl
libiconv
liblief
libpng
libsodium
libssh2
libtiff
libxml2
libxslt
llvmlite
locket
lxml
lz4-c
lzo
m2w64-gcc-libgfortran
m2w64-gcc-libs
m2w64-gcc-libs-core
m2w64-gmp
m2w64-libwinpthread-git
markupsafe
matplotlib
mccabe
menuinst
mistune
mkl
mkl-service
mkl_fft
mkl_random
mlxtend
mock
more-itertools
mpmath
msgpack-python
msys2-conda-epoch
multipledispatch
navigator-updater
nbconvert
nbformat
networkx
nose
notebook
numba
numexpr
numpy
numpy-base
numpydoc
olefile
opencv-python
openpyxl
openssl
packaging
parso
partd
path.py
pathlib2
patsy
pep8
pickleshare
pillow
pip
pkginfo
pluggy
ply
prometheus_client
prompt_toolkit
psutil
py
py-lief
pycodestyle
pycosat
pycparser
pycrypto
pycurl
pyflakes
pygame
pyglet
pygments
pylint
pymorphy2
pymorphy2-dicts
pyodbc
pyopenssl
pyparsing
pyqt
pyreadline
pyrsistent
pysocks
pytables
pytest
pytest-arraydiff
pytest-astropy
pytest-doctestplus
pytest-openfiles
pytest-remotedata
python
python-dateutil
python-libarchive-c
python-telegram-bot
pytz
pywavelets
pywin32
pywinpty
pyyaml
pyzmq
qt
qtawesome
qtconsole
qtpy
requests
rope
ruamel_yaml
s3transfer
scikit-image
scikit-learn
scipy
seaborn
send2trash
setuptools
simplegeneric
singledispatch
sip
six
sklearn
smart-open
snappy
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
sphinx
sphinxcontrib
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
spyder
spyder-kernels
sqlalchemy
sqlite
statsmodels
sympy
tbb
tblib
termcolor
terminado
testpath
tk
toolz
torch
torchvision
tornado
tqdm
traitlets
tzlocal
unicodecsv
urllib3
vc
wcwidth
webencodings
werkzeug
wheel
widgetsnbextension
win_inet_pton
win_unicode_console
wincertstore
winpty
wrapt
xgboost
xlrd
xlsxwriter
xlwings
xlwt
xz
yaml
zeromq
zict
zipp
zlib
zstd
